requests
langchain
langchain-community
langchain-core
langchain-ollama
feedparser
uvicorn
fastapi
python-dotenv
numpy
matplotlib
scikit-learn
chromadb
PyPDF2
langchain-openai 
sqlalchemy 
psycopg2-binary
crewai
crewai_tools
gradio